<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find prime numbers</title>
  </head>
  <body>
    <h1> Author: Alex Kuznetsov </h1>
    <h1> Find all prime numbers up your number </h1>
    <form action="{{ url_for("create_json")}}" method="post">
        <label for="number">Enter your number:</label>
        <input type="text" id="number" name="num" placeholder="number">
        <button type="submit">Create</button>
    </form>
  </body>
</html>
